# Labels not in Google model
This script fetches the bird species that do occur in the Edese bos area but are not covered by the Google model.

In [2]:
import pandas
import duckdb
import csv

In [2]:
# Connect to Duck DB database file
con = duckdb.connect('data/db/collection.duckdb')

In [11]:
df = con.sql('''
    SELECT DISTINCT
        ebird_code_def
    FROM
        bird_observations_ede_sc
''').df()

In [22]:
classes_ede = list(df['ebird_code_def'])

In [3]:
def class_names_from_csv(labels_path):
  """Returns list of class names corresponding to score vector."""
  with open(labels_path) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    class_names = [mid for mid, desc in csv_reader]
    return class_names[1:]

In [4]:
# This CSV file contains the classes in the Google model
classes_model = class_names_from_csv('data/csv/label.csv')

In [24]:
list(set(classes_ede) - set(classes_model))

['crelar1', 'eugwoo2', 'sylvia1', 'rinphe1']

In [25]:
df = con.sql('''
    SELECT
        *
    FROM
        bird_observations_ede_sc
    WHERE
        ebird_code_def IN ('crelar1', 'eugwoo2', 'sylvia1', 'rinphe1')
''').df()

In [26]:
df

,species,search_key,observation_sum,observation_cnt,ebird_code_def
0,Galerida cristata,galerida+cristata,4.0,1,crelar1
1,Picus viridis,picus+viridis,17.0,16,eugwoo2
2,Sylvia curruca,sylvia+curruca,1.0,1,sylvia1
3,Phasianus colchicus,phasianus+colchicus,12.0,12,rinphe1

In [28]:
con.close()

In [ ]:
# 'galerida+cristata', 'picus+viridis', 'sylvia+curruca', 'phasianus+colchicus'